
#titulo{
  margin-top: 5px;
  margin-bottom: 5px;
}

#cartaocarro{
  margin-right: 5rem;
}

#carSelect{
  padding-bottom: 40px;
  margin-left: 15px;
}

#seletor{
  padding-top: 50px;
}

#card{
  margin-left: 0px;
  margin-top: 20px;
}

#condicional{
  margin-top: 50px;
  padding-left: 10rem;
}

#unidade{
  padding-left: 10rem;
}

#cabecalhotabela{
  width: 100%;
}

#tabeladashboard{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#seletorVIN{
  width: 70%;

}



/* 2FRHDUYS2Y63NHD22454 */
