

<h4 class="text-center">Boas-Vindas</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm = "ngForm">
  <div class="form-group && position-relative">
      <input class="form-control" type="text" placeholder="Nome do usuario"
        [(ngModel)]="usuario"
        name="usuario"
        #campoUsuario="ngModel"
        required
      />
      <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuario Obrigatorio"></app-mensagem>

    <div class="form-group">
      <input class="form-control"
      type="password"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
      />
      <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched" mensagem="Senha Obrigatoria"
      ></app-mensagem>

    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block " [disabled]="loginForm.invalid">Login</button>
</form>
