
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>



<div class="col-md-2 mb-2 img-fluid" id="logoford" >
  <img class="img-fluid d-none d-sm-flex align-middle" id = "imagemRanger" src="assets/img/ford.png"
      alt="Ranger para pagina inicial de login">

</div>

<div class="container mt-3">
  <div class="row align-middle">
    <div class="col-md-6 mb-2">
      <img class="img-fluid d-none d-sm-flex" id = "imagemRanger" src="assets/img/rangerhome.png"
      alt="Ranger para pagina inicial de login">

    </div>
      <div class="col-md-6">

        <router-outlet></router-outlet>
      </div>
    <div>
    </div>
  </div>
</div>
